@charset "UTF-8";
@import url(../lib/font/fonts.css);
.reveal {
  font-family: "Acherus", Helvetica, sans-serif;
  font-weight: 500; }
  .reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled, .reveal .controls .navigate-left.enabled:hover {
    border-right-color: #75787B; }
  .reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled, .reveal .controls .navigate-right.enabled:hover {
    border-left-color: #75787B; }
  .reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled, .reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #75787B; }
  .reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled, .reveal .controls .navigate-down.enabled:hover {
    border-top-color: #75787B; }
  .reveal .slides h1, .reveal .slides h2, .reveal .slides h3, .reveal .slides h4, .reveal .slides h5, .reveal .slides h6 {
    font-family: "gineso-condensed", sans-serif; }
  .reveal .slides h1.small {
    font-size: 1.7em; }
  .reveal .slides .text-left {
    text-align: left; }
  .reveal .slides a {
    color: #c64600; }
    .reveal .slides a:hover {
      color: #861f41;
      text-decoration: underline; }
  .reveal .slides section img {
    border: 4px solid #75787B; }
    .reveal .slides section img.half {
      width: 50%; }
    .reveal .slides section img.white-bg {
      background-color: white;
      border-color: #75787B; }
  .reveal .slides section .right-half {
    width: 45%;
    margin-left: 55%; }
    .reveal .slides section .right-half .h2 {
      text-align: left; }
  .reveal .slides section footer.ref {
    left: 0;
    bottom: 0;
    clear: both;
    font-size: small; }
    .reveal .slides section footer.ref > cite {
      background-color: white; }
  .reveal .slides section .img-wrap cite {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    background-color: black;
    display: block;
    margin: 15px 0px;
    text-align: center; }
  .reveal .slides section.opaque, .reveal .slides section .opaque {
    /*opacity:0.8;*/
    border: 1px solid #e5e1e6;
    -webkit-box-shadow: 0 0 10px #e5e1e6;
    box-shadow: 0 0 10px #e5e1e6;
    background: #fff;
    height: 100%; }
  .reveal .slides section blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    text-align: left;
    padding: 1em;
    quotes: "“" "”" "‘" "’";
    color: black; }
    .reveal .slides section blockquote:before {
      display: block;
      height: 0;
      content: "“";
      margin-left: -.95em;
      font: italic 400%/1 Cochin,Georgia,"Times New Roman", serif;
      color: #222222; }
    .reveal .slides section blockquote p {
      font-style: normal; }
    .reveal .slides section blockquote footer cite a, .reveal .slides section blockquote footer cite a:hover, .reveal .slides section blockquote footer cite a:focus {
      color: #0000EE; }
  .reveal .smaller {
    font-size: 75%; }
  .reveal .stretchy {
    max-height: calc(65vh); }
  .reveal .section {
    /*.img_container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        img {
            display: block;
            margin: auto;
            height: auto;
            max-height: 100%;
            width: auto;
            max-width: 100%;
        }*/ }

.print-pdf .reveal section footer.ref {
  position: initial; }

.left {
  left: -8.33%;
  text-align: left;
  float: left;
  width: 50%;
  z-index: -10;
  font-size: 50%; }

.right {
  left: 31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index: -10;
  width: 50%;
  font-size: 50%; }

.acronym {
  color: #CE0058;
  font-weight: bolder;
  font-size: larger; }

#speaker-controls > div.speaker-controls-notes kbd {
  -moz-border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  line-height: 1.4;
  margin: 0;
  padding: .1em .6em;
  text-shadow: 0 1px 0 #fff; }

.corner:before {
  content: "";
  position: absolute;
  left: -.1em;
  width: 25px;
  height: 25px;
  border: solid #E87722;
  border-width: 5px 0 0 5px; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

#allSlides {
  display: inline-block;
  position: fixed;
  background: #fff;
  right: 0;
  top: 0;
  z-index: 100000;
  padding: .5em;
  /*border: 1px solid #333333;
    border-radius: 0 0 0 5px;*/
  font-family: "Acherus", Helvetica, sans-serif; }

#allSlides a {
  color: #c64600; }

mark {
  background: #efefaf; }

mark .hljs-literal {
  color: black; }

mark .hljs-name {
  color: #101070; }

mark .hljs-tag,
mark .hljs-attr {
  color: #1C3154; }

mark .hljs-string {
  color: #336C6C; }

[aria-label="Low Vision"] figcaption {
  font-size: 1.5rem; }

.flex-grid {
  display: flex;
  justify-content: space-between; }

.flex-grid.thirds .col {
  width: 32%; }

.flex-grid.half .col {
  width: 50%; }

@media (max-width: 400px) {
  .flex-grid {
    display: block; } }

.logo {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 2000; }

.print-pdf .logo {
  position: absolute;
  right: 20px;
  left: inherit; }

@media print {
  .no-print, .no-print * {
    display: none !important; } }

.view-switch {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 1000; }
  .view-switch a {
    padding: .5rem; }
    .view-switch a img {
      height: 1.5rem;
      width: 1.5rem; }

.in-print {
  display: none; }

.in-pres {
  display: inline-block; }

.unprocessed {
  display: inline-block; }
